/* цвет основного текста #2E2F42  */
/* вторичный цвет #434455 */
/* белый #FFFFFF */
/* акцент #4D5AE5 */
/* #434455 */
/* #4D5AE5 */
:root {
  --accent-color: #434455;
  --primary-text-color: #2e2f42;
  --background-color: #4d5ae5;
  --letter-spacing: 0.02em;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
}
.logo {
  text-transform: uppercase;
}
.site-nav span,
.logo:focus {
  color: #2e2f42;
}

.menu-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-nave,
.menu-link {
  color: var(--primary-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: #4d5ae5;
}

.mail-tell list,
.contact-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
/* main */
.hero {
  background: var(--primary-text-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-main {
  font-family: 'Roboto';
  font-weight: 500;
  background: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #e7e9fc;
  cursor: pointer;
}
.button-main:hover .button-main:focus {
  color: #ffffff;
  background-color: color #4d5ae5;
}
.button-main:active {
  color: #ffffff;
  background-color: #404bbf;
}

.bnf-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.bnf-txt {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.items-title,
.team-title {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.team-list {
  background-color: #f4f4fd;
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.our-portfolio-title{
  background-color: D9D9D9;
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--primary-text-color);
}
.footer {
  background-color: var(--primary-text-color);
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.logo-footer {
  text-transform: uppercase;
}
.footer span,
.logo-footer:focus {
  color: #4d5ae5;
}

.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.button {
  font-family: 'Roboto';
  font-weight: 500;
  background: #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.portfolio-navigation button:hover,
.portfolio-navigationbutton:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
