/* цвет основного текста #2E2F42  */
/* вторичный цвет #434455 */
/* белый #FFFFFF */
/* акцент #4D5AE5 */
body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background: #e5e5e5;
}

/* header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-web {
  color: #4d5ae5;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.address {
  font-style: normal;
}
.mail-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}

.contact-mail:hover,
.contact-mail:focus,
.contact-tel:hover,
.contact-tel:focus {
  color: #4d5ae5;
}
